*{
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body{
    padding: 0 5px;
}

.container{
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 2.4rem;
    display: flex;
    justify-content: space-between;
}

img.logo{
    padding-top: 10px;
    height: 30px;
    width: 160px;
}

.navbar {
    display: flex;
    align-items: center;

    ul{
        width: 300px;
        display: flex;
        justify-content: space-between;
        align-items:center;
    }
}

.nav-items{
    position: relative;
}

.nav-items::after{
    content: "";
    height: 2px;
    width: 0%;
    background-color: rgb(25, 78, 121);
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: all 0.4s;
}

.nav-items:hover::after{
    width: 100%;
}

.nav-link{
    color: black;
}

.nav-link:hover{
    color: rgb(17, 72, 199);
}

.cart-list{
    background-color: black;
    height: 30px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
}

.addToCartbtn{
    color: white;
}

/***** MAIN SECTION *****/
.section-hero{
    background-image: linear-gradient(120deg, #3db1db 40%, #42b2d4 60%);
}

.section-hero-content{
    width: 442px;
    height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-hero-img{
    img{
      height: 400px;
      width: 500px;
    }
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
}

.hero-subheading{
    font-size: 15px;
    margin: 0;
}

.hero-heading{
    font-size: 40px;
    color: midnightblue;
    margin: 11px 0;
}

.hero-para{
    color: white;
}

.hero-button{
    margin: 7px 0;
    background-color: rgb(165, 31, 31);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 165px;
    position: relative;
    font-weight: 600; 
    animation: explore 1s linear infinite;
}

@keyframes explore{
   0%{
        transform: scale(0.9);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.9);
    }
}

.hero-button:hover{
    box-shadow: 0 0 25px rgb(165, 31, 31);
}

.custom-shape-divider-bottom-1726465929 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1726465929 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 124px;
}

.custom-shape-divider-bottom-1726465929 .shape-fill {
    fill: #FFFFFF;
}

/*****Discount Section  *****/
.section-discount-product{
    display: flex;
    align-items: center;
    height: 270px;
}


.discount-bg{
    background: url(sale\ bg.avif) no-repeat center/cover;
    padding: 5px;
}

.discount-img {
    img{
        height: 150px;
        width: 150px;
   }
}

.headphone-box{
    width: 335px;
}

.discount-extra{
    p{
       margin-bottom: 5px;
    }

    h3{
        margin-bottom: 15px;
        margin-top: 0;
        color: crimson;
        animation: discount 1s linear infinite;
    }
    a{
        color: black;
    }
}

@keyframes discount{
    0%{
        transform: translateY(4px);
    }
    25%{
        transform: translateY(-4px);
    }
    100%{
        transform: translateY(4px);
    }
}

.discount-shop:hover{
    color:teal;
    transition: ease 0.2s;
}

.discount-shop{
    display: inline-block;
    position: relative;
    animation: explore 1s linear infinite;
}

@keyframes explore{
   0%{
        transform: scale(0.9);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.9);
    }
}

.discount-shop::after{
    content: "";
    height: 2px;
    width: 100%;
    background-color: rgb(25, 78, 121);
    position: absolute;
    bottom: -5px;
    left: 0;
}

/*****Service Section*****/
.section-products{
    min-height: 171vh;
    height: auto;
}

.section-services{
    height: 150px;
    display: flex;
    align-items: center;
}

.service {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    width: 100%;
}

.service-flex{
    display: flex;
    align-items: center;
    gap: 20px;

    i{
        font-size: 25px;
        color: #4071fa;
    }
}

.service-margin h4,
.service-margin p{
    margin: 0;
    line-height: 22px;
}

/*****Subscription Section *****/
.section-subscription{
    height: 200px;
    position: relative;
}

.section-subscription::after{
    content: '';
    position: absolute;
    background: url(mail\ icon.png) no-repeat;
    height: 230px;
    width: 230px;
    transform: rotate(15deg);
    top: 50px;
    z-index: -1;
    left: 160px;
    opacity: 0.3;
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    p{
        font-size: 1.5rem;
        color: rgb(57, 57, 57);

        span{
            font-size: 2rem;
            font-weight: 550;
            color: black;
        }
    }
}

.subs{
    display: flex;
    margin-bottom: 25px;

    input{
        border: 1px solid rgb(223, 217, 217);
        border-radius: 50px 0 0 50px;
        height: 35px;
        width: 335px;
        text-indent: 15px;
        padding: 0;
    }
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 50px 50px 0;
        width: 100px;
        background-color: red;
        font-size: 1rem;
        font-weight: 550;
        border: none;
        color: white;
        cursor: pointer;
        padding: 4px;
    }
}

.social{
    display: flex;
    gap: 20px;

    a{
        color: black;
    }

    i{
        border: 1px solid rgb(195, 193, 193);
        font-size: 20px;
        padding: 10px;

        transition: linear 0.2s;
        &:hover{
            background-color: rgb(240, 238, 238);
        }
    }
}

.fa-linkedin-in:hover{
    color: #0077B5;
}

.fa-instagram:hover{
    color: #d32308;
}

.fa-upwork:hover{
    color: green;
}

/***** Footer Section *****/
footer{
    background-color: black;
    height: 200px;
    color: white;
    padding: 25px;
}

.footer-logo{
    width: 400px;
    img {
        height: 80px;
        width: 100px;
    }
}

.footer-shopping,
.footer-experience,
.footer-connect-withus{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    a{
        text-decoration: none;
        list-style: none;
        color: white;
        opacity: 0.8;

        &:hover{
            text-shadow: 0 0 20px white;
        }
    }
}

.social-items{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    overflow: hidden;

    i{
        font-size: 1.5rem;
        color: white;
        opacity: 0;
        position: absolute;
        transition: opacity 0.5s ease-in-out;
    }

    a{
        position: absolute;
        transition: opacity 0.5s ease-in-out;
    }
}

.social-items:hover a{
    opacity: 0;
}

.social-items:hover i{
    opacity: 1;
}

.font{
    font-size: 1.3rem;
    font-weight: 550;
}

.footer-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-visa{
    display: flex;
    gap: 10px;
    img{
        height: 25px;
        width: 55px;
    }
}