body{
    padding: 0 5px;
}

*{
    text-decoration: none;
    list-style: none;
}

.container{
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 2.4rem;
    display: flex;
    justify-content: space-between;
}

img.logo{
    padding-top: 10px;
    height: 30px;
    width: 160px;
}

.navbar {
    display: flex;
    align-items: center;

    ul{
        width: 300px;
        display: flex;
        justify-content: space-between;
        align-items:center;
    }
}

.nav-items{
    position: relative;
}

.nav-items::after{
    content: "";
    height: 2px;
    width: 0%;
    background-color: rgb(25, 78, 121);
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: all 0.4s;
}

.nav-items:hover::after{
    width: 100%;
}

.nav-link{
    color: black;
}

.nav-link:hover{
    color: rgb(17, 72, 199);
}

.cart-list{
    background-color: black;
    height: 30px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
}

.addToCartbtn{
    color: white;
}

/* //////////////// MAIN SECTION //////////////////*/
.section-hero{
    background-image: linear-gradient(120deg, #3db1db 40%, #42b2d4 60%);
}

.section-hero-content{
    width: 442px;
    height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-hero-img{
    img{
      height: 400px;
      width: 500px;
    }
}

.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 7px;
}

.hero-subheading{
    font-size: 15px;
    margin: 0;
}

.hero-heading{
    font-size: 40px;
    color: midnightblue;
    margin: 11px 0;
}

.hero-para{
    color: white;
}

.hero-button{
    background-color: firebrick;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 155px;
}

.custom-shape-divider-bottom-1726465929 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1726465929 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 124px;
}

.custom-shape-divider-bottom-1726465929 .shape-fill {
    fill: #FFFFFF;
}
